* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply bg-neutral-900 text-neutral-100 antialiased;
}

body, input, textarea, button {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  font-size: 1rem;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

:focus {
  @apply shadow-sm shadow-blue-500 outline-transparent;
}
