* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @apply bg-gray-900 text-gray-100 antialiased;
}

body,
input,
textarea,
button {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  font-size: 1rem;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.feed-content h1 {
  @apply font-bold text-blue-400
}

.feed-content p {
  @apply mt-4
}

.feed-content p a {
  @apply font-bold text-blue-500 hover:text-blue-600 transition
}

:focus {
  @apply shadow-sm shadow-blue-500 outline-transparent;
}
