<header class="bg-gray-800 flex justify-center px-0 py-5">
  <h1 class="h-8 text-blue-500">
    <img
      src="https://elxpro.com/images/logo-cc8a972de01e811ee9a9395b63de0945.png?vsn=d"
      alt="elxpro-logo"
      class="h-8 w-8"
    />
  </h1>
</header>
<main class="min-w-[70rem] my-auto mx-8 px-0 py-4 grid grid-cols-12 gap-8 itens-start">
  <%= @inner_content %>
</main>
